<!DOCTYPE html>
<html lang="en" class="project-editor mobilebone">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta name="misapplication-tap-highlight" content="no"/>
        <meta name="HandheldFriendly" content="true"/>
        <meta name="MobileOptimized" content="320"/>

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="styles/global.css">

</head>
<body>

    <div class="page">
        <div class="mui-content">
            <div class="mui-content-padded">
                
            </div>
        </div>    
    </div>

    <div id="selector-user" class="page out selector-user" data-root="selector" data-callback="userCallback" data-fallback="userFallback">
        <div class="mui-content">
            <div class="mui-indexed-list">
                <div class="mui-indexed-list-search mui-input-row mui-search">
                <input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索员工">
            </div>
            <div class="mui-indexed-list-bar">
                <div class="list"></div>
            </div>
            <div class="mui-indexed-list-alert"></div>
            <div class="mui-indexed-list-inner">
                <div class="mui-indexed-list-empty-alert">没有数据</div>
                <ul class="mui-table-view"></ul>
            </div>
            </div>
        </div>

        <a href="javascript:;" class="mui-btn mui-btn-link mui-icon mui-icon-checkmarkempty mui-btn-confirm hide"></a>

    </div>


</body>

<script type="text/tmpl" id="project-editor-tmpl">
    <form>
        <input type="hidden" name="projectId" value="{{ data.projectId }}">
        <div class="mui-input-group">
            <div class="mui-input-row">
                <label>项目编号：</label>
                <input type="text" name="code" placeholder="项目编号(必填)" value="{{ data.code }}" maxlength="16">
            </div>
            <div class="mui-input-row">
                <label>项目名称：</label>
                <input type="text" name="name" placeholder="项目名称(必填)" value="{{ data.name }}" maxlength="16">
            </div>
            <div class="mui-input-row">
                <label>项目描述：</label>
                <textarea name="desc" placeholder="项目描述">{{ data.desc }}</textarea>
            </div>
            <div class="mui-input-row selector-row">
                <label>负责人：</label>
                <a href="#selector-user" class="mui-btn mui-btn-link" data-is-multiple="false" data-id="{{ data.head.id }}">{{ data.head.name }}</a>
                <input type="hidden" name="headId" value="{{ data.head.id }}">
            </div>
            <div class="mui-input-row dropdown-row">
                <label>项目状态：</label>
                <select name="is_closed" id="">
                    <option value="false">关闭</option>
                    <option value="true">开启</option>
                </select>
            </div>
        </div>

        <div class="mui-btn-group">
            <a href="javascript:;" class="mui-btn mui-btn-primary mui-btn-block mui-btn-save ">保存</a>
        </div>
    </form>
</script>


<script type="text/tmpl" id="users-tmpl">
    {{ each data as item }}
        {{ if item.data.length > 0 }}
        <li data-group="{{ item.letter }}" class="mui-table-view-divider mui-indexed-list-group">{{ item.letter }}</li>
            {{ each item.data as user }}
                <li data-value="{{ user.id }}" data-name="{{ user.name }}" data-tags="{{ user.letter }}" class="mui-table-view-cell mui-indexed-list-item mui-checkbox mui-left">
                    <input type="checkbox"/>{{ user.name }}
                </li>
            {{ /each}}
        {{ /if }}
    {{ /each }}
</script>

<script type="text/tmpl" id="users-indexed-tmpl">
    {{ each data as item }}
        {{ if item.data.length > 0 }}
        <a>{{ item.letter }}</a>
        {{ /if }}
    {{ /each }}
</script>

<script src="scripts/require-config.js"></script>
<script src="scripts/vendor/require.js"></script>


<script>

    require(['global', 'api'], function()
    {
        var _id = url('?projectId');
        if(!_id)
        {
            $('.mui-content .mui-content-padded').html( template('project-editor-tmpl', { data: { head: {} } }) );
        }
        else
        {
            popup.showToast(
            {
                message: '正在获取项目信息...',
                type : 'loading'
            });

            $.when( 
                $.ajax(
                {
                    url: api.getProjectDetails,
                    data: 
                    {
                        id: _id
                    },
                    dataType: 'json',
                    timeout: ajaxTimeout
                })
            ).done(function(data)
            {
                popup.hideToast();
            
                if(!data.status)
                {
                    popup.showToast(
                    {
                        message: '获取项目信息失败。',
                        type: 'error'
                    });
                    return;
                }
                $('.mui-content .mui-content-padded').html( template('project-editor-tmpl', { data: data.data }) );
                
            }).fail(function(fail)
            {
                popup.showToast(
                {
                    message: '获取项目信息失败。',
                    type: 'error'
                });
            });
        }



        $(document).on('tap', '.mui-btn-save', function()
        {
            var _formData = $('.mui-content-padded form').serializeJSON();

            _formData.id = _id;

            var _error = [];

            if($.trim(_formData.code).length === 0)
            {
                _error.push('请输入项目编号。');
            }

            if($.trim(_formData.name).length === 0)
            {
                _error.push('请输入项目名称。');
            }

            if(_error.length > 0)
            {
                popup.showDialog(
                {
                    message: _error.join('<br>')
                });
                return;
            }


            $.when( 
                $.ajax(
                {
                    type: "GET",
                    url: api.saveProject,
                    data: _formData,
                    dataType: 'json',
                    timeout: ajaxTimeout
                })
            ).done(function(data)
            {
                if(!data.status)
                {
                    popup.showToast(
                    {
                        message: '保存项目失败。',
                        type: 'error'
                    });
                    return;
                }

                popup.showToast(
                {
                    message: '保存成功。',
                    callback: function()
                    {
                        history.back();
                    }
                });
                
            }).fail(function(fail)
            {
                popup.showToast(
                {
                    message: '保存项目失败。',
                    type: 'error'
                });
            });
        });

    });


    function selectorUserCallback(selector)
    {
        var $list = $('.page.selector-user .mui-indexed-list');
        var $checked = $list.find('.mui-checkbox input:checked')
        var _ids = $checked.map(function(){ return $(this).closest('li').attr('data-value') }).get().join(',');
        var _names = $checked.map(function(){ return $(this).closest('li').attr('data-name') }).get().join('、');

        selector.target.text( _names );
        selector.target.next('input[type="hidden"]').val( _ids );
        
        history.back()
    }

</script>
</html>